:root {
  --main-text-color: rgb(60, 60, 60);
  --dark-text-color: rgb(50, 49, 49);
  --box-light-color: rgb(214, 214, 214);
  --box-dark-color: rgb(171, 169, 169);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-content {
  width: 200px;
  height: 350px;
}

.pricing-single-photo,
.pricing-pack-photo,
.pricing-custom {
  background-color: var(--box-light-color);
  margin: 30px;
  border-radius: 20px;
}

.pricing-content-header {
  color: var(--main-text-color);
  text-align: center;
  position: relative;
  top: 30px;
}

.price-value {
  background-color: var(--box-dark-color);
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  top: 40px;
  left: -20px;
  width: 240px;
  font-weight: bold;
  font-size: 1.8rem;
}

.price-value p {
  color: var(--dark-text-color);
  text-align: center;
}

.pricing-description-container {
  width: 100%;
  text-align: center;
}

.pricing-description {
  font-size: 1.2rem;
  position: relative;
  padding-inline-start: 0;
  top: 50px;
}

.pricing-description li {
  text-transform: lowercase;
}

.pricing-description-minus {
  display: inline-block;
  list-style-type: "- ";
}

.pricing-description-plus {
  display: inline-block;
  list-style-type: "+ ";
}
