:root {
    --main-text-color: rgb(60, 60, 60);
    --box-light-color: rgb(183, 181, 181);
    --box-dark-color: rgb(158, 154, 154);
}

.pricing {
    display: flex;
}

.pricing-single-photo,
.pricing-pack-photo,
.pricing-custome {
    width: 200px;
    height: 350px;
    background-color: var(--box-light-color);
    margin: 10px;
}